
Codigo/Service/obj/

Codigo/Service/bin/

Codigo/Core/obj/

Codigo/Core/bin/

Codigo/RecolhakiWeb/obj/

Codigo/RecolhakiWeb/bin/

*.cache

*.editorconfig

*.v2

*.props

*.targets

Codigo/.vs/Recolhaki/DesignTimeBuild/

Codigo/RecolhakiWeb/appsettings.json

